body{
	display: block;
	margin: 0;
	background-color: #E1D9CB;
}
span{
	color: red;
	text-decoration: underline;
}


h1{
	font-family: 'Comfortaa', cursive;
	font-size: 3em;
	margin: 1.2em;
	color: grey;
}
header img{
	width: 100%;
	max-height: 350px;
}
nav{
	width: 100%;
	margin: 3em auto;
}
nav ul{
	list-style: none;
	width: 80%;
	max-width: 1000px;
	margin: 2em auto;
}

nav li{
	width: 150px;
	float: left;
	border: 2px solid #F1F1F1;
	padding: 20px;
	margin: 10px 10px 45px 10px;
	text-align: center;
}

nav a{
	text-decoration: none;
	color: red;
	margin: 1px;
	font-family: 'Comfortaa', cursive;
	display: block;
}

.gallery ul{
	list-style: none;
}
main, section{
	height: 100vh;
	
}

.gallery li{
	width: 250px;
	overflow: hidden;
	float: left;
	display: inline-block;
	margin: 15px;
}

main p{
	clear: both;
	margin: 2em;
	
	font-family: 'Raleway', sans-serif;
}
.gallery  img{
	transition: all .7s;
	-webkit-transform: all .7s;
}
.gallery  img:hover{		
	transform: translateX(-250px);
	-webkit-transform: translateX(-250px);
}
nav li{
	transition: all .7s;
	-webkit-transform: all .7s;
}
nav li:hover{		
	background: #fff;		
	transform: translateY(-15px);
	-webkit-transform: translateY(-15px);
}


@media screen and (max-width: 700px){
	nav ul{
		width: 90%;
	}
	nav ul li{
		float: none;
		width: 90%;
		display: block;
		padding: 8px 5px;
		margin: 2px 0;
		text-align: left;		
		text-indent: 25px;
	}
	nav ul a{
		padding-left: 20px;
	}
	.gallery li{
		margin: 5px;		
		}
	h1{
		font-size: 1.3em;
	}
	p{
		line-height: 1.4em;
		}
}
