body {
    background-color: #bbb;
}
h2{
    font-family: Georgia;
    color: #999;
    padding-left: 5px;
}
main, nav, aside{
    display: block;
    border:  solid 1px #F2F2F2;  
}

p{
    font-family: Verdana;
    font-size: 13px;
    padding: 10px;
}


.customer{
    color: #999;
    font-weight: bold;
}
#wrap{
     width: 85%;
    max-width: 960px;
    min-width: 600px;
    margin: auto;
    background-color: #fff;
    box-shadow: 10px 10px 5px #888888;
}


header{
    background: url(fence.jpg);
    background-repeat: no-repeat;
    width: 100%;
    border-top: 1px solid #ddd; 
    height: 300px;
}

header h1{
    font-family: Georgia, 'Times New Roman',sans-serif,Arial;
    font-size: 60px;
    font-weight: normal;
    color: #fff;
    padding-right: 30px;
    text-shadow: 1px 1px 3px #000;
    text-align: right;
    padding-top: 180px;
    line-height: 1;
}

nav{
    float: left;
    width: 25%;
    margin-left: 10px;
    margin-top: 10px;
}
    nav ul{
        list-style-type: none;
        padding-left: 10px;
    }
    nav ul li{
        padding: 10px 1px;
        color:  #999;
   font-weight: bold;
    }
nav a, a:visited{
    font-family: Verdana;
    color: #bbb;
    font-size: 13px;
    
}

aside{
    float: right;
    width: 25%;
    margin-right: 10px;
    margin-top: 10px;
}

main{
    margin: 10px 28%;
}
