body{
	display: block;
	margin: 0;
}
.complete td {
    text-decoration: line-through;
}
.success{
    color: green;
}
.fail {
    color: red;
}

tr:nth-child(even) {
    background: #E9EFF1;
}

#wrap{
	width: 80%;
	margin: 0 auto;
        min-width: 500px;
}

section > table{
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
	padding: 5px;
}

section{
	background: yellow;
	padding: 10px;
}

aside > input{
	margin: 0 5px;
}

aside{
	background: #F8ECC2;
	padding: 10px;
}


#toDisplay, #sortOrder{
    width: 45%;
    float: left;
    padding: 5px;
}
hr{
    clear: both;
}

table{
    width: 100%;
    
}

th{
    font-weight: bold;
}

th, td{
    padding: 2px;
    text-align: center;
}

h2{
    width: 140px;
    margin: auto;
}