body{
	display: block;
    font-family: 'Droid Sans', sans-serif;
    margin: 0;
      background: url("../Images/Layout-assets/headerback.png") no-repeat;
    background-size:  100% 180px;
}

header{
	width: 100%;
  height: 180px;
}

#home{
    float: right;
    margin: 20px;
}
#commercial{
    margin: 20px;
    float: left;
}
#logo{
    width: 25%;
    margin: 10px 25%;
}
header {
    width: 100%;
	height: 20%;
	max-height: 150px;
}

#content{
    width: 90%;
    margin: 30px 25px;
    padding: 50px;
}
#pic{
    float: left;
    width: 30%;
    margin: 2%;
}
#pic img{
    width: 40%;
    /*height: 30%;*/
    margin: 5px 150px;
    
}
#info{
    width: 58%;
    float: right;
    margin: 2%;
}
main {
    background: url("../images/tv.png") no-repeat;
    background-size: 90% 90%;
    background-position: center;
    
    width: 100%;
    height: 600px;
   margin: 40px auto;
    
}
.mnu{
   transition: 1s;
    -webkit-transform: 1s;
}
.mnu:hover{
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}


@media screen and (max-width: 700px){
    main{
        margin-top: 100px; 
        padding-top: 130px;
        background: url("../images/iphone.png") no-repeat;
        background-size: 100vw 100vh;
        width: 100vw;
        
    }
    #content{
        width: 100%;
        margin: auto;
        padding: 50px;
    }
    #pic{
        display: none;
    }
     #info{
        margin: 0;
        width: 80%;
         float: none;
        
    }
    #logo{
        margin: 10px 15%;
    }
    header{
        height: 90px;
    }
    #home, #commercial, #logo{
    
    width: 15%;
    }
    
}


