#wrap{
    overflow: auto;
}
nav{
    display: none;
}
footer{
    display: none;
}

#logo{
    width: 100%;
    
}

main{
    display: none;
}

aside{
    display: none;
}

#phone
{
    display: none;
}

ul{
    list-style: none;
}

section{
    display: block;
}
hr{
    display: none;
}
