/*
header, nav,main,footer,aside,section,li,ul
{
    border-style: dashed;
    border-width: 1px;
}
*/

section,
main,
footer,
aside,
section {
    display: block;
}

body {
    line-height: 1.4;
    font-family: Georgia, "Times New Roman", serif;
    background-image: url('../images/back.png');
    background-repeat: repeat-x;
}

#wrap {
    width: 85%;
    margin: auto;
    min-width: 760px;
    max-width: 1020px;
}

iframe {
    width: 80%;
}

#phone-num {
    width: 80%;
}

header {
    width: 90%;
}

main img {
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

#logo {
    width: 300px;
    margin: 10px auto;
    transition: all 1s;
    /*All propertys for 1 second*/
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
}

#logo:hover {
    transform: rotate(-5deg);
    /*rotation*/    
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
}

nav {
    padding-top: 60px;
}

nav ul {
    text-align: center;
    font-size: 1.3em;
    list-style-type: none;
    width: 600px;
    margin: auto;
}

nav ul li {
    display: inline;
    padding-top: 30px;
    margin: auto 20px;
    width: 100px;
    height: 60px;
    float: left;
    text-align: center;
    
}

nav ul li a {
    text-decoration: none;
}



a:link,
a:visited {
    font-weight: bold;
    color: #006537;
}

a:hover,
a:active,
{
    color: #fd0000;
    text-shadow: 1px 1px 1px;
}

main img {
    border: 3px solid;
}

section {
    width: 67%;
    float: left;
    padding-left: 20px;
    padding-top: 30px;
}

section ul {
    list-style-type: none;
}

aside {
    width: 28%;
    float: right;
}

aside img {
    width: 100%;
    padding-right: 10px;
    padding-top: 20px;
}

#bottom_content {
    width: 100%;
    clear: both;
    padding: 30px 5px 30px 5px;
}

hr {
    clear: both;
    width: 80%;
}

footer {
    width: 100%;
    clear: both;
}

#social {
    width: 150px;
    margin: auto;
}

.icon {
    width: 15px;
    height: 15px;
    float: left;
    padding: 0 20px;
    margin: 0 5px;
}

footer p {
    font-family: "Times New Roman", sans-serif, arial;
    font-size: 13px;
    width: 100%;
    float: right;
    margin: auto;
}

.round-shadow {
    box-shadow: 3px 3px 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#phone {
    position: fixed;
    top: 400px;
    right: 10px;
    width: 75px;
}

#phone img {
    width: 100%;
}
/*-------------- Media Queries -----------------*/
/**************---760PX SCREEN---*******************/

@media screen and (max-width: 760px) {
  
    #wrap {
        min-width: 521px;
        width: 80%;
    }
    main {
        width: 90%;
    }
    section {
        width: 90%;
        padding-left: 0px;
    }
    aside {
        width: 100%;
    }
    aside img {
        display: none;
    }
    nav ul {
        display: block;
        margin: auto;
        
    }
    nav ul li {
        margin: auto 10px;
        width: 80px;
    }
    
    #phone p {
        width: 90%;
        text-align: center;
        position: fixed;
        bottom: 70px;
        left: 0px;
        padding: 10px;
        background: green;
        color: #fff;
    }
    #phone img {
        display: none;
    }
    footer p {
        font-size: 63%;
        float: left;
        width: 80%;
        
    }
}
/****************---520PX SCREEN--******************/

@media screen and (max-width: 520px) {
    
    #wrap {
        width: 80%;
        margin: 10px;
    }
    nav ul {
        width: 90%;
    }
    nav ul li {
        padding: 10px;
    }
    main img {
        display: none;
        width: 100%;
        margin: auto;
    }
    
    section ul {
        width: 90%;
}
    hr{
        margin: 0;
    }
    main {
        clear: both;
        padding: 10px;
    }
    nav ul li {
        display: block;
        width: 70%;
        margin: 0;
        border-bottom: 1px solid #fff;
    }
    #home-banner {
        display: block;
    }
}