﻿body {
    display: block;
    background: grey;

}

.cellStyle
{
    cursor:pointer;
}
.nameStyle
{
    cursor:pointer;
    background-color: #B1E1FF;
}

.infoTable{
    background-color: #E9F7FF;
}
table{
    width: 80%;
}

table tr {
    max-width: 100%;
    

}
h3, h1{
    margin: 0 auto;
}
#wrap{
    width: 80%;
    margin: 0 auto;
}

