footer, header, section, aside, main, nav{
    display: block;
}

body{
    color: #343120;
    font-family: "Trebuchet MS", arial, sans-serif;
    border-top: 20px solid #343120;
    overflow: auto;
}

#wrap{
    width: 80%;
    margin: auto;
}

h1{
    padding-left: 2%;
    text-shadow: 1px 1px 3px;
}

header{
    padding-top: 30px;
}
    header img{
        width: 100%;
    }


nav{
    width: 100%;
}

    nav ul{
        width: 550px;
        margin: auto;
        
    }

    nav a{
        color: #343120;
        font-weight: bold;
        font-size: 24px;
        text-decoration: none;
    }

footer{
    background-color: #343120;
    clear: both;
    height: 200px;
    width: 100%;
    box-shadow: 0px -5px 5px;
}
    footer ul{
        width: 760px;
        margin: auto;
        padding-top: 100px;
        
    }

    footer a{
        color: #fff;
    }

/**************---GROUPED STYLES---******************/
nav li, footer li{
    display: inline;
    padding: 0 30px;
}

section, aside{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid grey;
    width: 45%;
    float: left;
    margin: 1%;    
    padding: 1%;
}

section img, aside img{
    float: left;
    padding: 10px;
}

nav ul, footer ul{
    list-style: none;  
}

h1,h2{
    font-family: Tahoma;
    font-weight: normal;
}


/**************---760PX SCREEN---*******************/
@media screen and (max-width: 760px){
    #wrap{
        width: 90%;
    }
    section, aside{
        float: none;
        width: 90%;
        margin: 1% auto;
        
    }
    nav li, footer li{
        padding: 5%;
        
    
    }
    article img, aside img{
        max-width: 50%;
        height: auto;
    }
    
     footer{
        height: 100px;
         width: 100%;
         overflow: hidden;
         margin-top: 20px;
    }
    footer ul{
        padding-top: 50px;
        width: 80%;
        margin: auto;
    }
    footer li, header li{
        padding-right: 1%;
        
    }
}


/****************---520PX SCREEN--******************/
@media screen and (max-width: 520px){
    #wrap{
        width: 95%;
    }
    
    nav ul, footer ul{
        width: 80%;
        margin: 0;
    }
    
    nav li, footer li{
        display: block;
        padding: 15px;
        border-bottom: 1px solid #fff;
        width: 70%;
        margin: auto;
    }
    
    nav li{
        border-bottom: 1px solid #000;
    }
   
    footer {
        height: auto;
        margin-top: 20px;
    }
   
    footer a{
        text-decoration: none;
    }
    
}