/*body, #header, #nav, #content, #contentimg, #footer{border-style: dashed;}*/

body {
    
    font-family: georgia, "times new roman", serif;
    line-height: 1.4;
    width: 900px;
    margin: auto;
    
    background-image: url(fence-dark-bg.png);
    background-repeat: repeat-x;
}

#header{
    line-height: 1.7;
}

#header h1{
    padding-left: 20px;
    padding-top: 100px;
}
h1{
    color: #fff;
}

span, a{
    color: #a25c3a;
    font-style: italic;
}
#nav{
    padding-top: 20px;
}
#nav ul{
    list-style-type: none;
    width: 600px;
    margin: auto;
}

#nav ul li{
    display: inline;
    padding-right: 30px;
}

ul a {
    font: bold 18px "times new roman", serif;
    color: #999;
    text-decoration: none;
}

#content{
    margin-top: 10px;
    margin-left: 20px;
    width: 525px;
    float: left;
}

#contentimg {
    float: right;
    width: 300px;
}

#contentimg img{
    width: 275px;
    
}

#footer{
    border-top: 2px dotted #999;
    width: 100%;
    clear: both;
    font-size: 12px;
}