/*
Footer navigation – 10 marks
mockup in photoshop (custom shape, color, text, alignment)
Footer html/css code with rollover
Small Screen Media Query – 10 marks
Header formatting – h1 and nav set to display block, remove floats
Main – hiding image and displaying the aside text
Formatting of the aside text
Footer – formatting links to display block (including medium screen layout formatting)
*/

@charset "utf-8";
/* CSS Document */

/*  Media Queries */
/**************---800PX SCREEN---*******************/
@media screen and (min-width: 641px ){
header, main, nav, footer {display: block;}

body {
	font: 100% "Gill Sans", "Gill Sans MT", Arial, sans-serif;
	/* 100% equals 16px equals 1em */
}

#wrap {
	width: 85%;
	margin: 0 auto; /* center in browser */
}

main img {
	width: 100%;
	/* max width will not let img exceed the 1280px */
}

header h1 {
	font: normal 3em "Roboto Condensed", sans-serif;
}

ul{
    width: 80%;
    list-style: none;
    float: right;
}

ul li{
    width: 20%;
    float: left;
}

a img{
    padding: 0 15px;
}

a{
    text-decoration: none;
}

.logos a{
    /*padding-top: 30px;*/
    color: #fff;
    
}
.logos{
    display: block;
}

footer{
    width: 100%;
    height: 100px;
    background: black;
}
aside{
    display: none;
}

.logos a:hover{
    color: #124E97;
}
}


/**************---640PX SCREEN---*******************/
@media screen and (max-width: 640px){
    #wrap{
        width: 90%;
        margin: 0;
        padding-left: 5px;
    }
    
    header, nav{
        display: block;
    }
    
    main img {
        display: none;
    }
    
    nav li, .logos {
        float: none;
        padding-bottom: 20px;
        padding-left: 0;
        width: 100%;
    
    }
    a{
        text-decoration: none;
    }
    nav ul{
        width: 90%;
        list-style: none;
    }
    
    aside{
    display:block;
        clear: both;
        color: #fff;
        background: #000;
        padding: 5px 15px;
        letter-spacing: 2px;
    }
    
     footer{
        height: 100px;
         width: 100%;
         margin-top: 20px;
        background: #fff;
         
    }
    
    footer ul{
        padding-top: 10px;
        width: 80%;
        margin: auto;
        float: none;
         width: 90%;
        list-style: none;
    }
    .logos a, header ul li a {
        width: 90%;
          color: #000;
        display: block;
        
    }
}

/*

*/



