body{
    margin: :0;
    padding:0;
}

header{
    margin: 0;
    padding: 10px 40px;
    background-color: rgb(0, 84, 166);
    width: 100%;
    height: 206px;
}

nav{
    float: right;
    width: 65%;
    
}

nav li{
    list-style: none;
    float: left;    
}

header nav a{
    display: block;
    width: 125px; /*same as out guides in photoshop*/
    height: 50px; /*heigh hafl of the sprite*/
    
}

header nav span{
    visibility: hidden;
}

footer nav{
    width: 250px;
    float: right;
}
footer nav span{
    visibility: hidden;
}
footer nav a{
    display: block;
    width: 65px; /*same as out guides in photoshop*/
    height: 65px; /*heigh hafl of the sprite*/
    
}



/*image sprite roll over*/

nav a[href="team.html"]{
    background: url(Website-assets/prodent_sprite.png) no-repeat 0 0;
    overflow: hidden;
}

nav a[href="team.html"]:hover{
    background: url(Website-assets/prodent_sprite.png) no-repeat 0 -50px;
    overflow: hidden;
}

nav a[href="services.html"]{
    background: url(Website-assets/prodent_sprite.png) no-repeat -125px 0;
    overflow: hidden;
}

nav a[href="services.html"]:hover{
    background: url(Website-assets/prodent_sprite.png) no-repeat -125px -50px;
    overflow: hidden;
}
nav a[href="contact.html"]{
    background: url(Website-assets/prodent_sprite.png) no-repeat -250px 0;
    overflow: hidden;
}

nav a[href="contact.html"]:hover{
    background: url(Website-assets/prodent_sprite.png) no-repeat -250px -50px;
    overflow: hidden;
}

nav a[href="faq.html"]{
    background: url(Website-assets/prodent_sprite.png) no-repeat -375px 0;
    overflow: hidden;
}

nav a[href="faq.html"]:hover{
    background: url(Website-assets/prodent_sprite.png) no-repeat -375px -50px;
    overflow: hidden;
}



/*bottom nav sprite rollover */

nav a[href="htttp://www.twitter.com"]{
    background: url(Website-assets/social_sprite.png) no-repeat 0 0;
    overflow: hidden;
}

nav a[href="htttp://www.twitter.com"]:hover{
    background: url(Website-assets/social_sprite.png) no-repeat 0px -65px;
    overflow: hidden;
}

nav a[href="htttp://www.facebook.com"]{
    background: url(Website-assets/social_sprite.png) no-repeat -66px 0;
    overflow: hidden;
}

nav a[href="htttp://www.facebook.com"]:hover{
    background: url(Website-assets/social_sprite.png) no-repeat -66px -65px;
    overflow: hidden;
}

nav a[href="htttp://www.linkedin.com"]{
    background: url(Website-assets/social_sprite.png) no-repeat -133px 0px;
    overflow: hidden;
}

nav a[href="htttp://www.linkedin.com"]:hover{
    background: url(Website-assets/social_sprite.png) no-repeat -133px -65px;
    overflow: hidden;
}

main{
    margin: auto 0;
    padding: 0;
    width: 80%;
    height: 291px;
}
aside{
    float: left;
    width: 25%;
    font: 100% "Lucida Grande, verdana, sans-serif";
    color: #a3a3a3;
    letter-spacing: 4px;
    margin-top: 15%;
}

aside p{
    margin-left:200px ;
    width: 250px;
    line-height: 0;
    font-size: 38px;
}

main img{
    margin-top: 30px;
    float: right;
}

footer{
    background: #d7d7d7;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 250px;
    overflow:auto;
}


