body {
			background-color: #BFC9DC;
            display:block;
}
#wrap{
    width: 90%;
    margin: 0 auto;
}
article{
    position: fixed;
    left: 5%;
    top: 150px;
    float: left;
    width: 48%;
}
#tblResults{
    
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

#tblResults td, #tblResults th{
    border: 1px solid blue;
    padding: 5px;
}

#tblResults tr:nth-child(odd){
    background: #666;
    padding: 5px;
}

#tblResults th{
    background: #1e6b80;
}

header {
    margin: 0 0;
    width: 100%;
    height: 125px;
}
section{
    float: right;
    width: 48%;
   
}

.Buttons {
	position:absolute;
    height: 25px;
	font-family: Arial, Helvetica;
    font-size: 11pt;
    color: #002594;
}
.LblInfoGray {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10pt;
	color: #5a5a5a;
	position: relative;
	text-align: left;
	padding-top: 4px;
}
