body{
    display: block;
    margin: 0;
     font-family: 'Droid Sans', sans-serif;
    
    background: #9cb7bc url("../images/Layout-assets/header.png") no-repeat;
    background-size: 100% 200px;
    
}

header{
    width: 100%;
    max-height: 200px;
    font-size: 2.5em;
    /*-color: #af595c;*/
    display: block;
    
}
header img{
    padding: 20px;
}
header h3{
    float: right;
    width: auto;
    margin: 0 auto;
}
h3{
    font-family: 'Ubuntu', sans-serif;
}

main{
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

ul{
    
    list-style: none;
    max-width: 900px;
    margin: 0 auto;
}

li{
    width: 20%;
    float: left;
    margin: 100px 60px;
    text-align: center;
}
#logo{
    transition: all .7s;
	-webkit-transform: all .7s;
}
#logo:hover{
     -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}
#me{
    float: right;
    margin: 20px;
    
}
li img{
-moz-transition: all 1s ease;
-webkit-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}

.program{
    float: left;
}
#mail{
    padding-left: 30px;
    clear: both;
}

.program ul {
    
    list-style: none;
    width: 185px;
    margin: 30px 10px 0 0;
    float: left;
    
}
.program li{
    width: 185px;
    overflow: hidden;
    display: block;
    float: left;
    margin: 10px auto;
}

.program li img{
     transition: all .7s;
	-webkit-transform: all .7s;
}
.program li img:hover{
  
	transform: translateX(-185px);
	-webkit-transform: translateX(-185px);
}

 li img:hover{
    opacity: 1;
	-moz-transform: scale(2) rotate(30deg) translate(50px);
	-webkit-transform: scale(1.2) rotate(30deg) translate(50px);
	-o-transform: scale(2) rotate(30deg) translate(50px);
	transform: scale(2) rotate(30deg) translate(50px);
	z-index: 1000;
}

footer{
    height: 125px;
    position: fixed;
    bottom: 0;
    clear: both;
    width: 100%;
}
footer img{
    width: 100%;
}

h1{
    display: block;
    width: 33%;
    /*font-family: 'Marcellus SC', serif;*/
    font-family: abril-fatface, serif;
    font-size: 260%;
    margin: 40px auto;
}

@media screen and (max-width: 700px){
    body{   
      background-size: 100% 100px;
    
}
    header h3{
        font-size: 1em;
    }
    
    li{
        float: none;
        width: 100%;
        margin: 30px auto;
        
    }
    
    footer{
        clear: both;
        height: 50px;
    }
    h1{
        font-size: 80%;
        margin: 20px auto;
    }
}

