﻿body, header, form{
    display: block;
}

body {
    font: bold 20px Arial, sans-serif; 
}

#frmMain{
    margin-top: 300px;
    width: 60%;
    min-width: 450px;
    margin: auto;
    background: Aqua;
}

label{
    float: left;
    padding-left: 20px;   
    margin-top: 10px;
}



select, input{
    width: 125px;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

#btnSubmit, #btnNext, #btnSave, #btnPrev{
    width: 80px;
    margin: 0 15px;
}

#txtRiskResult, #cmbProbability,#cmbSeverity,#cmbRepRisk,#cmbRegulatory, #cmbRiskStatus{
    
    
}
#cmbRiskStat
{
    color: #fff;
    background-color: red;
    font-weight: bold;
}
#txtRiskResult{
    width: 200px;
    
}

h1{
    font-size: 1em;
    background: blue;
    padding: 10px;
}
